body {
    font: message-box;
    font-size: 9pt;
    margin: 1em auto;
    width: 500px;
}

h1, h2, h3 {
    border: 0;
    border-bottom: 1px solid black;
    text-align: center;
}

.ui-icon.ui-header-icon {
    display: inline-block;
    position: relative;
    top: .15em;
}

.ui-slider {
    margin: .5em 1em;
}

.ui-option {
    margin: 0;
    margin-bottom: 1em;
    box-shadow: 0px 5px 15px -5px #000000;
}

.ui-option>.ui-widget-header,
.ui-option>.ui-widget-content {
    padding: .25em .75em;
}

.ui-option>.ui-widget-header {
    color: #2779aa;
    font-size: 1.25em;
    margin: 0;
    text-align: left;
}

.ui-option>.ui-widget-content {
    text-align: center;
}

.ui-option>.ui-widget-content h3 {
    border-bottom: 1px solid #2779aa;
    color: #2779aa;
    font-size: 1.1em;
    margin: 1em 0;
}

.ui-option>.ui-widget-content h3:first-child {
    margin: 0 0 1em 0;
}

.ui-formfooter {
    text-align:center;
    padding: .75em;
}

.ui-dialog-notitle .ui-dialog-titlebar { display: none; }

#popupMsg {
    display: none;
    text-align: center;
}

#idleTime { width: 3.5em; }